.style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-container{
    margin: 5px;
}

.producto {
    text-align: center;
    background-color: aqua;
    margin: 10px;
    padding: 10px    ;
    border-radius: 5px;
}

.product-image {
    width: 70px;
    height: 60px;
    border-radius: 15px;
    padding: 8PX;
}

.circular-text {
    margin-left: 10px;
}

.little-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px;
    padding: 10px;
}

.go-back-text {
    color: #000;
    text-decoration: none;
}

.go-back-text:hover {
    color:rgb(50, 44, 136);
    text-decoration: underline;
}

.filter {
    margin: 0 5px;
    font-size: 15px;
}
